body {
    overflow-y: scroll;
}

.cm-editor {
    height: 100%
}

.cm-scroller {
    overflow: auto
}

#strategy-container {
    height: 500px;
}

#boss-strategy-container {
    height: 500px;
}

.log-entry {
    display: block;
    padding: 0.05em 0.5em 0.05em 0.5em;
}

#actor-tabs {
    --actor-tab-width: max(60px, 16vw);
    overflow-x: auto;
}

.actor-tab-container {
    width: var(--actor-tab-width);
    margin: 2px;
    font-size: calc(var(--actor-tab-width) / 5);
    font-weight: bold;
    flex-shrink: 0;
}

.active-actor-tab {
    background-color: #ddd;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.inactive-actor-tab {
    background-color: transparent;
}

.inactive-actor-tab:hover {
    background-color: #eee;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.neutral-actor-tab {
    background-color: transparent;
}

.neutral-actor-tab:hover {
    background-color: #eee;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.inactive-actor-tab .actor-dress-image {
    filter: saturate(60%);
}

.inactive-actor-tab:hover .actor-dress-image {
    filter: none;
}

.inactive-actor-tab .actor-memoir-image {
    filter: saturate(60%);
}

.inactive-actor-tab:hover .actor-memoir-image {
    filter: none;
}

.actor-tab-name:empty::before {
    content: '\feff';
}

form .form-label {
    margin-bottom: 0.25rem;
}

.result-pdf-plot {
    height: 350px;
}

.result-box-plot {
    height: 350px;
}

#log-text {
    font-size: 0.7em;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    white-space: pre-wrap;
}

#interactive-input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#interactive-log {
    overflow-y: scroll;
    height: 500px;
    font-size: 0.7em;
    font-family: monospace;
    white-space: pre-wrap;
}

.select-option-subtext {
    display: block;
    margin-top: -0.075em;
    font-size: 0.7em;
}

#interactive-container {
    min-height: calc(100vh - 1.5rem);
}

@media (min-width: 576px) {
    #log-text {
        font-size: 0.875em;
    }

    #interactive-log {
        overflow-y: scroll;
        height: 500px;
        font-size: 0.875em;
    }

    #interactive-container {
        min-height: 0;
    }

    .filter-option .select-option-subtext {
        display: none;
    }

    #actor-tabs {
        --actor-tab-width: 95px;
    }
}

@media (min-width: 992px) {
    #actor-tabs {
        --actor-tab-width: 120px;
    }
}

div.dropdown-menu {
    max-width: 100vw;
}

.dropdown-menu > .inner > ul.dropdown-menu.inner {
    width: max-content;
    min-width: 100% !important;
}

.bootstrap-select > select {
    font-size: 0;
}

#options-list {
    max-height: max(85px, calc(100vh - 280px));
    overflow-y: scroll;
}

#select-options-list {
    max-height: max(85px, calc(100vh - 220px));
    overflow-y: scroll;
}

.select-option-img {
    height: 1.5em;
}

.select-option-subtext-img {
    height: 1.6em;
    margin: 0.1em;
}

.select-option-subtext-img-text {
    margin-left: 0.4em;
}

.select-option-subtext-container {
    display: flex;
    align-items: center;
    margin-top: 0.2em;
}

pwa-update::part(updateToast) {
    z-index: 999;
}

pwa-update::part(offlineToast) {
    z-index: 999;
}

#saved-results-row {
    overflow-x: scroll;
}

#plot-container-outer {
    overflow-x: scroll;
}

#plot-container-inner {
    min-width: 720px;
}

:root {
    --container-max-width: 100vw;
    --bs-border-width: 2px;
}

.interactive-status-buffs-container {
    min-height: 15px;
}

.interactive-status-buffs-container:empty::after {
    content: '\feff';
    line-height: 0;
}

@media (min-width: 576px) {
    :root {
        --container-max-width: 540px;
    }
}

@media (min-width: 768px) {
    :root {
        --container-max-width: 720px;
    }

    .interactive-status-buffs-container {
        min-height: 30px;
    }

    .boss-buffs .interactive-status-buffs-container {
        min-height: 15px;
    }
}

@media (min-width: 992px) {
    :root {
        --container-max-width: 960px;
    }
}

@media (min-width: 1200px) {
    :root {
        --container-max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    :root {
        --container-max-width: 1320px;
    }
}

#interactive-top-container {
    position: relative;
    display: flex;
    width: var(--size-ref);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    gap: 0.2em;
}

#damage-estimate-container {
    font-size: 1.4em;
    line-height: 0;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
}

#interactive-turn-text-container {
    width: var(--size-ref);
    margin: calc(var(--size-ref) / 96) auto;
}

#interactive-turn-text-center-container {
    display: flex;
    justify-content: center;
    font-size: max(28px, calc(var(--size-ref) / 16));
    line-height: max(28px, calc(var(--size-ref) / 16));
    gap: 4px;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.btn-interactive-nav {
    --button-size: max(32px, calc(var(--size-ref) / 18));
    width: var(--button-size);
    height: var(--button-size);
    font-size: calc(0.8 * var(--button-size));
    line-height: calc(0.8 * var(--button-size));
    padding: 0;
}

#interactive-error-container {
    max-width: min(720px, calc(0.80 * var(--container-max-width)));
    font-size: max(18px, calc(0.04 * var(--size-ref)));
    margin-left: auto;
    margin-right: auto;
}

#interactive-timeline-container {
    position: relative;
    display: flex;
    --tl-width: var(--size-ref);
    --tl-height: calc(var(--tl-width) / 6);
    --tl-entry-width: calc(var(--tl-width) / 6);
    width: var(--tl-width);
    height: var(--tl-height);
    margin-left: auto;
    margin-right: auto;
}

#interactive-shortcuts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

.interactive-ui-shortcut-button {
    width: calc(var(--size-ref) / 8);
    height: calc(var(--size-ref) / 8);
    font-size: calc(0.6 * var(--size-ref) / 8);
    line-height: calc(0.6 * var(--size-ref) / 8);
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

.interactive-timeline-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.interactive-timeline-empty {
    --connector-color: lightgrey;
    --marker-color: gray;
}

.interactive-timeline-normal {
    --connector-color: skyblue;
    --marker-color: royalblue;
}

.interactive-timeline-climax {
    --connector-color: plum;
    --marker-color: purple;
}

.interactive-timeline-current {
}

.interactive-timeline-past {
}

.interactive-timeline-future {
    filter: brightness(60%);
}

.interactive-timeline-item {
    position: relative;
    display: flex;
    height: var(--tl-height);
    width: var(--tl-entry-width);
    align-content: center;
    align-items: center;
    justify-content: center;
}

.interactive-timeline-connector-start {
    position: absolute;
    margin: auto 0 auto 50%;
    width: 50.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-end {
    position: absolute;
    margin: auto 50% auto 0;
    width: 50.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-middle {
    position: absolute;
    margin: auto 0;
    width: 100.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-bg {
    --height: 12%;
    position: absolute;
    top: calc((100% - var(--height)) / 2);
    left: calc(100% / 12);
    width: calc(100% * 5 / 6);
    height: var(--height);
    background: lightgray;
}

.interactive-timeline-connector-none {
    position: absolute;
    margin: auto 0;
    width: 0;
    height: 0;
    background: var(--connector-color);
}

.interactive-timeline-marker {
    position: absolute;
    display: block;
    width: 32%;
    height: 32%;
    background: var(--marker-color);
    border-radius: 50%;
    content: "";
}

.interactive-timeline-image-container {
}

.interactive-queue-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.queue-actor-img {
    width: calc(var(--size-ref) / 8);
}

.queue-act-img {
    position: absolute;
    bottom: 2%;
    right: 4%;
    width: 56%;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.queue-act-img-overlay {
    position: absolute;
    bottom: 2%;
    right: 4%;
    width: 56%;
    aspect-ratio: 1;
    filter: saturate(200%);
    mix-blend-mode: hue;
    display: none;
}

.queue-act-climax-icon {
    position: absolute;
    bottom: 5%;
    left: 4%;
    color: rebeccapurple;
    font-size: calc(var(--size-ref) / 24);
    line-height: 0;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
}

.queue-act-cost {
    position: absolute;
    top: 0;
    right: 6%;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    font-weight: bold;
    color: #222;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.queue-act-cost-up {
    color: blue;
}

.queue-act-cost-down {
    color: darkred;
}

.interactive-timeline-normal .queue-actor-img {
    filter: drop-shadow(0 0 2px royalblue) drop-shadow(0 0 2px royalblue);
}

.interactive-timeline-climax .queue-actor-img {
    filter: drop-shadow(0 0 2px rebeccapurple) drop-shadow(0 0 2px rebeccapurple);
}

.queue-support-indicator {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4%;
    width: 30%;
}

#interactive-acts-row-container {
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: calc(var(--size-ref) / 72);
    padding-bottom: calc(var(--size-ref) / 96);
}

#interactive-acts-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--size-ref) / 24);
}

#interactive-climax-button {
    height: calc(var(--size-ref) / 10);
    width: calc(var(--size-ref) / 10);
    transform: rotate(45deg);
}

.interactive-climax-button-available {
    border: darkblue 2px solid;
    background: darkblue;
}

.interactive-climax-button-available:hover {
    border: purple 2px solid;
    background: purple;
}

.interactive-climax-button-activated:disabled {
    border: midnightblue 2px solid;
    background: midnightblue;
}

.interactive-climax-button-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.interactive-climax-button-text {
    font-weight: bold;
    font-size: calc(var(--size-ref) / 17);
    line-height: 0;
}

#interactive-acts-container {
    display: flex;
    gap: calc(var(--size-ref) / 96);
}

.interactive-act {
    display: flex;
    flex-direction: column;
    width: calc(var(--size-ref) / 8);
}

.interactive-act-button {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4%;
}

.interactive-act-button-climax:disabled {
    border: var(--bs-btn-border-width) solid indigo;
    background: indigo;
}

#interactive-auto-queue-button {
    position: relative;
    top: calc(var(--size-ref) / 48);
}

.interactive-act-queued .queue-actor-img {
    filter: brightness(100%) drop-shadow(0 0 2px darkgreen) drop-shadow(0 0 2px darkgreen);
}

.interactive-act-queued .queue-act-img {
    filter: brightness(100%) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-act-queued .queue-support-indicator {
    filter: brightness(100%);
}

.interactive-act-queued .queue-act-cost {
}

.queue-act-queued-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: calc(var(--size-ref) / 9);
    line-height: 0;
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-act-too-expensive .queue-actor-img {
    filter: brightness(65%);
}

.interactive-act-too-expensive .queue-act-img {
    filter: brightness(80%);
}

.interactive-act-too-expensive .queue-support-indicator {
    filter: brightness(80%) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-act-too-expensive .queue-act-cost {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.queue-act-too-expensive-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 14);
    line-height: calc(var(--size-ref) / 14);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px red) drop-shadow(0 0 3px red) drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
}

#interactive-memoirs-row {
    display: flex;
    width: var(--size-ref);
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--size-ref) / 96);
}

#interactive-available-memoir-cost-text {
    height: 100%;
    font-size: calc(var(--size-ref) / 16);
    font-weight: bold;
}

#interactive-available-memoir-cost-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto calc(var(--size-ref) / 72);
    width: calc(var(--size-ref) / 10);
    height: calc(var(--size-ref) / 10);
    background: darkviolet;
    color: white;
    border-radius: calc(var(--size-ref) / 88);
}

#interactive-memoirs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: max(2px, 0.15vw);
    margin-left: calc(var(--size-ref) / 48);
    margin-right: auto;
    min-height: calc(var(--size-ref) / 7.2 * 1.111);
}

.interactive-memoir {
    display: flex;
    flex-direction: column;
    width: calc(var(--size-ref) / 8);
}

.interactive-memoir-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.interactive-memoir-img {
    position: relative;
    width: 100%;
}

.interactive-memoir-actor-img {
    position: absolute;
    bottom: 4%;
    left: 6%;
    width: 42%;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-support-indicator {
    position: absolute;
    left: 22%;
    bottom: 4%;
    margin: 4%;
    width: 20%;
}

.interactive-memoir-cost-text {
    position: absolute;
    top: 1%;
    right: 6%;
    font-weight: bold;
    font-size: calc(var(--size-ref) / 20);
    line-height: calc(var(--size-ref) / 20);
    color: rebeccapurple;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-uses-text {
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-weight: bold;
    font-size: calc(var(--size-ref) / 24);
    line-height: calc(var(--size-ref) / 24);
    color: black;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

#interactive-ui-go-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size-ref) / 10);
    height: calc(var(--size-ref) / 10);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: calc(var(--size-ref) / 40)
}

#interactive-ui-go-button i {
    font-size: calc(var(--size-ref) / 20);
    line-height: calc(var(--size-ref) / 20);
}

.interactive-memoir-too-expensive .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-too-expensive .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-too-expensive .interactive-memoir-support-indicator {
    filter: brightness(85%);
}

.interactive-memoir-too-expensive-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px red) drop-shadow(0 0 3px red) drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
}

.interactive-memoir-holder-exited .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-holder-exited .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-holder-exited .interactive-memoir-support-indicator {
    filter: brightness(85%);
}

.interactive-memoir-holder-exited-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px purple) drop-shadow(0 0 3px purple) drop-shadow(0 0 2px purple) drop-shadow(0 0 2px purple);
}

.interactive-memoir-too-expensive .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-too-expensive .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}


.interactive-memoir-queued .interactive-memoir-img {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-actor-img {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-support-indicator {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-cost-text {
}

.interactive-memoir-queued .interactive-memoir-uses-text {
}

.interactive-memoir-queued {
    filter: drop-shadow(0 0 2px darkviolet) drop-shadow(0 0 2px darkviolet);
}

.interactive-memoir-queued-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
    font-size: calc(var(--size-ref) / 9);
    line-height: 0;
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-cooldown .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-cooldown .interactive-memoir-support-indicator {
    filter: brightness(90%);
}

.interactive-memoir-cooldown .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white) drop-shadow(0 0 1px white);
}

.interactive-memoir-no-more-uses .interactive-memoir-img {
    filter: brightness(50%);
}

.interactive-memoir-no-more-uses .interactive-memoir-actor-img {
    filter: brightness(50%);
}

.interactive-memoir-no-more-uses .interactive-memoir-support-indicator {
    filter: brightness(80%);
}

.interactive-memoir-no-more-uses .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-no-more-uses .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

#interactive-container {
    --size-ref: min(700px, max(70vh, 560px), calc(0.9 * var(--container-max-width)));
}

#interactive-console-container {
    width: var(--size-ref);
}

#interactive-log-container {
    position: relative;
}

#interactive-log-navigation-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#interactive-status-container {
    width: var(--size-ref);
    margin-left: auto;
    margin-right: auto;
}

.interactive-status-image-container {
    --status-image-size: max(44px, calc(var(--size-ref) / 13.2));
    position: relative;
}

.interactive-status-actor-img {
    height: var(--status-image-size);
}

.interactive-status-support-indicator {
    position: absolute;
    top: 4%;
    left: 5%;
    height: calc(var(--status-image-size) / 3.5);
}

.interactive-status-container {
    display: flex;
    align-items: end;
}

.interactive-status-bars-container {
    flex-grow: 1;
}

.interactive-status-buffs-container {
    display: flex;
    overflow-x: visible;
    margin-left: 1px;
    margin-bottom: 1px;
    --buff-icon-size: 12px;
    column-gap: 3px;
    flex-wrap: wrap-reverse;
}

.interactive-status-buffs-container:empty::before {
    content: "\200b";
    font-size: calc(1.25 * var(--buff-icon-size));
    line-height: calc(1.25 * var(--buff-icon-size));
}

.interactive-status-climaxing-icon {
    position: absolute;
    top: 8%;
    right: 2%;
    color: rebeccapurple;
    font-size: calc(0.35 * var(--status-image-size));
    line-height: 0;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
}

.interactive-status-dex-counter {
    position: absolute;
    bottom: 4%;
    right: 6%;
    color: gold;
    font-size: calc(0.4 * var(--status-image-size));
    line-height: calc(0.4 * var(--status-image-size));
    font-weight: bold;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
}

.interactive-status-buff {
    display: flex;
    align-items: end;
}

.interactive-status-buff-image-container {
    position: relative;
    width: var(--buff-icon-size);
    height: var(--buff-icon-size);
    margin-bottom: 3%;
}

.interactive-status-buff-value {
    font-weight: bold;
    font-size: calc(1.25 * var(--buff-icon-size));
    line-height: calc(1.25 * var(--buff-icon-size));
}

.interactive-status-buff-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter: drop-shadow(0 0 1px navy);
}

.interactive-status-buff-lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.interactive-status-more-buffs-icon {
    font-size: calc(1.2 * var(--buff-icon-size));
    line-height: calc(1.2 * var(--buff-icon-size));
    height: calc(1.2 * var(--buff-icon-size));
}

#interactive-stage-effect-container {
    display: flex;
    width: var(--size-ref);
    margin: calc(var(--size-ref) / 96) auto;
}

.interactive-stage-effects-container {
    display: flex;
    --se-size: calc(0.5 * max(28px, calc(var(--size-ref) / 18)));
    gap: calc(var(--se-size) / 4);
    flex-wrap: wrap;
    max-width: calc(var(--size-ref) / 2.1);
    min-height: calc((8 / 3 + 1 / 4) * var(--se-size));
    align-content: center;
    align-items: center;
}

#interactive-team-stage-effects-container {
    flex-direction: row;
    margin-right: auto;
}

#interactive-enemy-stage-effects-container {
    flex-direction: row-reverse;
    margin-left: auto;
}

.interactive-stage-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--se-size) / 12);
    padding: calc(var(--se-size) / 6);
    border-radius: calc(var(--se-size) / 4);
}

.interactive-stage-effect-lv-1 {
    background: #c6d7f6;
}

.interactive-stage-effect-lv-2 {
    background: #fcc8c8;
}

.interactive-stage-effect-lv-3 {
    background: #d5d5d5;
}

.interactive-stage-effect-lv-4 {
    background: #f6e6aa;
}

.interactive-stage-effect-lv-5 {
    background: #f7cffa;
}

.interactive-stage-effect-img {
    width: var(--se-size);
    height: var(--se-size);
}

.interactive-stage-effect-text {
    font-size: var(--se-size);
    line-height: var(--se-size);
    font-weight: bold;
    height: var(--se-size);
}

#server-link {
}

#server-link i {
    font-size: 20px;
    line-height: 20px;
}

.btn-actor-setup-action {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.3rem;
}

.team-info-display-container {
    display: inline-block;
    padding: 0.1em 0.4em;
    border-radius: 6px;
}

.team-info-display-container-cost {
    background: lightyellow;
    border: var(--bs-border-width) solid sandybrown;
}

.team-info-display-container-bonus {
    background: azure;
    border: var(--bs-border-width) solid lightseagreen;
}

.input-group > .song-effect-type {
    flex: 1 1 0;
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.song-effect-awaken-skill-type {
    overflow-x: auto;
    display: block;
    text-align: left;
}

.input-group > .song-effect-value {
    flex: 0 1 auto;
    width: 5em;
    text-align: right;
}

/* Fixes an issue where the z-index isn't applied properly for selectpickers */
.input-group > .form-control:focus-within {
    z-index: 5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#share-setup-text {
    white-space: pre;
    resize: none;
    overflow: hidden;
}

.damage-shares > .progress-bar {
    background: skyblue;
}

.damage-shares {
    display: none;
}

.show-damage-shares .damage-shares {
    display: flex;
}

#interactive-status-container .progress-bar,
#interactive-status-container .progress-bar-label {
    text-indent: 0.2rem;
}

.interactive-timeline-act-damage-overlay {
    display: none;
}

.show-damage-shares .interactive-timeline-act-damage-overlay {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -36%;
    transform: translateX(-50%);
    font-weight: bold;
    background: white;
    font-size: calc(var(--size-ref) / 26);
    border-radius: calc(var(--size-ref) / 180);
    height: calc(var(--size-ref) / 26);
    filter: drop-shadow(0 0 2px dimgray);
    align-items: center;
    padding: calc(var(--size-ref) / 50) calc(var(--size-ref) / 180)
}

.show-damage-shares #interactive-timeline-container {
    margin-bottom: calc(var(--size-ref) / 24);
}

.toast-body {
    margin: 0.15em 0.2em;
    padding: 0.4em;
    display: flex;
    align-items: center;
}

.toast {
    border-radius: 9999px;
    align-items: center;
    --bs-toast-spacing: 0.25em;
}

.toast-indicator {
    width: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto 0.4em auto 0;
}

.toast-content {
    line-height: 0.95em;
}

.filter-option-inner-inner {
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.select-option-main-text {
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.bootstrap-select.disabled .dropdown-toggle  {
    background-color: var(--bs-secondary-bg);
}
