.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.CodeMirror-scroll {
    height: auto;
    max-height: 500px;
}

.log-entry {
    display: block;
    padding: 0.05em 0.5em 0.05em 0.5em;
}

#actor-tabs {
    --actor-tab-width: max(60px, 17vw);
    overflow-x: scroll;
}

.actor-tab-container {
    width: var(--actor-tab-width);
    margin: 2px;
    font-size: calc(var(--actor-tab-width) / 5);
    font-weight: bold;
    flex-shrink: 0;
}

.active-actor-tab {
    background-color: #ddd;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.inactive-actor-tab {
    background-color: transparent;
}

.inactive-actor-tab:hover {
    background-color: #eee;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.neutral-actor-tab {
    background-color: transparent;
}

.neutral-actor-tab:hover {
    background-color: #eee;
    border-radius: calc(var(--actor-tab-width) / 12);
}

.inactive-actor-tab .actor-dress-image {
    filter: saturate(60%);
}

.inactive-actor-tab:hover .actor-dress-image {
    filter: none;
}

.inactive-actor-tab .actor-memoir-image {
    filter: saturate(60%);
}

.inactive-actor-tab:hover .actor-memoir-image {
    filter: none;
}

.actor-tab-name:empty::before {
    content: '\feff';
}

.actor-options .form-label {
    margin-bottom: 0.1rem;
}

.result-pdf-plot {
    height: 350px;
}

.result-box-plot {
    height: 350px;
}

#log-text {
    font-size: 0.7em;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    white-space: pre-wrap;
}

#interactive-input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#interactive-log {
    overflow-y: scroll;
    height: 500px;
    font-size: 0.7em;
    font-family: monospace;
    white-space: pre-wrap;
}

.select-option-subtext {
    display: block;
    margin-top: -0.075em;
    font-size: 0.7em;
}

@media (min-width: 576px) {
    #log-text {
        font-size: 0.875em;
    }

    #interactive-log {
        overflow-y: scroll;
        height: 500px;
        font-size: 0.875em;
    }

    .filter-option .select-option-subtext {
        display: none;
    }

    #actor-tabs {
        --actor-tab-width: 95px;
    }
}

@media (min-width: 992px) {
    #actor-tabs {
        --actor-tab-width: 120px;
    }
}

.dropdown-menu {
    max-width: 100vw;
}

#options-list {
    max-height: max(85px, calc(100vh - 280px));
    overflow-y: scroll;
}

#select-options-list {
    max-height: max(85px, calc(100vh - 220px));
    overflow-y: scroll;
}

.select-option-img {
    height: 1.5em;
}

pwa-update::part(updateToast) {
    z-index: 999;
}

pwa-update::part(offlineToast) {
    z-index: 999;
}

#saved-results-row {
    overflow-x: scroll;
}

#plot-container-outer {
    overflow-x: scroll;
}

#interactive-ui-container {
    margin-top: 0.6em;
    --container-max-width: 100vw;
}

@media (min-width: 576px) {
    #interactive-ui-container {
        --container-max-width: 540px;
    }
}

@media (min-width: 768px) {
    #interactive-ui-container {
        --container-max-width: 720px;
    }
}

@media (min-width: 992px) {
    #interactive-ui-container {
        --container-max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #interactive-ui-container {
        --container-max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    #interactive-ui-container {
        --container-max-width: 1320px;
    }
}

#interactive-top-container {
    position: relative;
    --size-ref: min(720px, calc(0.80 * var(--container-max-width)));
    display: flex;
    width: var(--size-ref);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6em;
    gap: 0.2em;
}

#interactive-turn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}

#interactive-error-container {
    max-width: min(720px, calc(0.80 * var(--container-max-width)));
    margin-left: auto;
    margin-right: auto;
}

#interactive-timeline-container {
    position: relative;
    display: flex;
    --tl-width: min(720px, calc(0.80 * var(--container-max-width)));
    --size-ref: var(--tl-width);
    --tl-height: calc(var(--tl-width) / 6);
    --tl-entry-width: calc(var(--tl-width) / 6);
    width: var(--tl-width);
    height: var(--tl-height);
    margin-left: auto;
    margin-right: auto;
}

.interactive-timeline-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.interactive-timeline-empty {
    --connector-color: lightgrey;
    --marker-color: gray;
}

.interactive-timeline-normal {
    --connector-color: skyblue;
    --marker-color: royalblue;
}

.interactive-timeline-climax {
    --connector-color: plum;
    --marker-color: purple;
}

.interactive-timeline-current {
}

.interactive-timeline-past {
}

.interactive-timeline-future {
    filter: brightness(60%);
}

.interactive-timeline-item {
    position: relative;
    display: flex;
    height: var(--tl-height);
    width: var(--tl-entry-width);
    align-content: center;
    align-items: center;
    justify-content: center;
}

.interactive-timeline-connector-start {
    position: absolute;
    margin: auto 0 auto 50%;
    width: 50.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-end {
    position: absolute;
    margin: auto 50% auto 0;
    width: 50.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-middle {
    position: absolute;
    margin: auto 0;
    width: 100.1%;
    height: 16%;
    background: var(--connector-color);
}

.interactive-timeline-connector-bg {
    --height: 12%;
    position: absolute;
    top: calc((100% - var(--height)) / 2);
    left: calc(100% / 12);
    width: calc(100% * 5 / 6);
    height: var(--height);
    background: lightgray;
}

.interactive-timeline-connector-none {
    position: absolute;
    margin: auto 0;
    width: 0;
    height: 0;
    background: var(--connector-color);
}

.interactive-timeline-marker {
    position: absolute;
    display: block;
    width: 32%;
    height: 32%;
    background: var(--marker-color);
    border-radius: 50%;
    content: "";
}

.interactive-timeline-image-container {
    margin: 12%;
}

.interactive-queue-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.queue-actor-img {
    width: 100%;
}

.queue-act-img {
    position: absolute;
    bottom: 2%;
    right: 4%;
    width: 56%;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.queue-act-cost {
    position: absolute;
    top: 0;
    right: 6%;
    font-size: calc(var(--size-ref) / 16);
    line-height: calc(var(--size-ref) / 16);
    font-weight: bold;
    color: #222;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.queue-act-cost-up {
    color: blue;
}

.queue-act-cost-down {
    color: darkred;
}

.interactive-timeline-normal .queue-actor-img {
    filter: drop-shadow(0 0 2px navy);
}

.interactive-timeline-climax .queue-actor-img {
    filter: drop-shadow(0 0 3px rebeccapurple) drop-shadow(0 0 2px rebeccapurple);
}

.queue-support-indicator {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4%;
    width: 30%;
}

#interactive-acts-row {
    --size-ref: calc(0.86 * min(720px, calc(0.80 * var(--container-max-width))));
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    align-items: center;
    justify-content: center;
    padding-top: calc(var(--size-ref) / 44);
    padding-bottom: calc(var(--size-ref) / 44);
    gap: max(10px, 1.2vw);
}

#interactive-climax-button {
    height: calc(var(--size-ref) / 9);
    width: calc(var(--size-ref) / 9);
    transform: rotate(45deg);
}

.interactive-climax-button-available {
    border: darkblue 2px solid;
    background: darkblue;
}

.interactive-climax-button-available:hover {
    border: purple 2px solid;
    background: purple;
}

.interactive-climax-button-activated:disabled {
    background: midnightblue;
}

.interactive-climax-button-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.interactive-climax-button-text {
    font-weight: bold;
    font-size: calc(var(--size-ref) / 15);
    line-height: 0;
}

#interactive-acts-container {
    display: flex;
    gap: max(4px, 0.48vw);
}

.interactive-act {
    display: flex;
    flex-direction: column;
    width: calc(var(--size-ref) / 7.2);
}

.interactive-act-button {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4%;
}

.interactive-act-button-climax:disabled {
    border: indigo 1px solid;
    background: indigo;
}

.interactive-act-queued .queue-actor-img {
    filter: brightness(100%) drop-shadow(0 0 4px forestgreen) drop-shadow(0 0 2px forestgreen);
}

.interactive-act-queued .queue-act-img {
    filter: brightness(100%);
}

.interactive-act-queued .queue-support-indicator {
    filter: brightness(100%);
}

.interactive-act-queued .queue-act-cost {
}

.queue-act-queued-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: calc(var(--size-ref) / 8);
    line-height: 0;
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-act-too-expensive .queue-actor-img {
    filter: brightness(65%);
}

.interactive-act-too-expensive .queue-act-img {
    filter: brightness(85%);
}

.interactive-act-too-expensive .queue-support-indicator {
    filter: brightness(85%);
}

.interactive-act-too-expensive .queue-act-cost {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.queue-act-too-expensive-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 14);
    line-height: calc(var(--size-ref) / 14);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px red) drop-shadow(0 0 3px red) drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
}

#interactive-memoirs-row {
    display: flex;
    --size-ref: min(720px, calc(0.80 * var(--container-max-width)));
    width: var(--size-ref);
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--size-ref) / 40);
}

#interactive-available-memoir-cost-text {
    height: 100%;
    font-size: calc(var(--size-ref) / 16);
    font-weight: bold;
}

#interactive-available-memoir-cost-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto calc(var(--size-ref) / 72);
    width: calc(var(--size-ref) / 10);
    height: calc(var(--size-ref) / 10);
    background: darkviolet;
    color: white;
    border-radius: calc(var(--size-ref) / 88);
}

#interactive-memoirs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: max(2px, 0.15vw);
    margin-left: calc(var(--size-ref) / 48);
    margin-right: auto;
    min-height: calc(var(--size-ref) / 7.2 * 1.111);
}

.interactive-memoir {
    display: flex;
    flex-direction: column;
    width: calc(var(--size-ref) / 8);
}

.interactive-memoir-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.interactive-memoir-img {
    position: relative;
    width: 100%;
}

.interactive-memoir-actor-img {
    position: absolute;
    bottom: 4%;
    left: 6%;
    width: 42%;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-support-indicator {
    position: absolute;
    left: 22%;
    bottom: 4%;
    margin: 4%;
    width: 20%;
}

.interactive-memoir-cost-text {
    position: absolute;
    top: 1%;
    right: 6%;
    font-weight: bold;
    font-size: calc(var(--size-ref) / 20);
    line-height: calc(var(--size-ref) / 20);
    color: rebeccapurple;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-uses-text {
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-weight: bold;
    font-size: calc(var(--size-ref) / 24);
    line-height: calc(var(--size-ref) / 24);
    color: black;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

#interactive-ui-go-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size-ref) / 10);
    height: calc(var(--size-ref) / 10);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: calc(var(--size-ref) / 40)
}

#interactive-ui-go-button i {
    font-size: calc(var(--size-ref) / 20);
    line-height: calc(var(--size-ref) / 20);
}

.interactive-memoir-too-expensive .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-too-expensive .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-too-expensive .interactive-memoir-support-indicator {
    filter: brightness(85%);
}

.interactive-memoir-too-expensive-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px red) drop-shadow(0 0 3px red) drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
}

.interactive-memoir-holder-exited .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-holder-exited .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-holder-exited .interactive-memoir-support-indicator {
    filter: brightness(85%);
}

.interactive-memoir-holder-exited-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 3px purple) drop-shadow(0 0 3px purple) drop-shadow(0 0 2px purple) drop-shadow(0 0 2px purple);
}

.interactive-memoir-too-expensive .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-too-expensive .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}


.interactive-memoir-queued .interactive-memoir-img {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-actor-img {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-support-indicator {
    filter: brightness(100%);
}

.interactive-memoir-queued .interactive-memoir-cost-text {
}

.interactive-memoir-queued .interactive-memoir-uses-text {
}

.interactive-memoir-queued {
    filter: drop-shadow(0 0 4px darkviolet) drop-shadow(0 0 2px darkviolet);
}

.interactive-memoir-queued-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
    font-size: calc(var(--size-ref) / 9);
    line-height: 0;
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown .interactive-memoir-img {
    filter: brightness(65%);
}

.interactive-memoir-cooldown .interactive-memoir-actor-img {
    filter: brightness(65%);
}

.interactive-memoir-cooldown .interactive-memoir-support-indicator {
    filter: brightness(90%);
}

.interactive-memoir-cooldown .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-cooldown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(var(--size-ref) / 18);
    line-height: calc(var(--size-ref) / 18);
    text-align: center;
    color: black;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white) drop-shadow(0 0 2px white) drop-shadow(0 0 1px white);
}

.interactive-memoir-no-more-uses .interactive-memoir-img {
    filter: brightness(50%);
}

.interactive-memoir-no-more-uses .interactive-memoir-actor-img {
    filter: brightness(50%);
}

.interactive-memoir-no-more-uses .interactive-memoir-support-indicator {
    filter: brightness(80%);
}

.interactive-memoir-no-more-uses .interactive-memoir-cost-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}

.interactive-memoir-no-more-uses .interactive-memoir-uses-text {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}
